[user]
     name = mltrees
     email = mltrees@163.com
 [alias]
     co = checkout
     ca = commit --amend
     ci = commit
     st = status
     br = branch
     pushdev = push origin dev:dev
     pushmaster = push origin dev:master
     fetchdev = fetch origin dev
     rebasedev = rebase origin dev
     d = difftool
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[push]
    default = matching
[core]
    ignorecase = false
    editor = vim
[merge]
    tol = vimdiff

[color]
    ui = true

